<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450278741366-7sluuc5b407ef92la4f4dd0ks06avb15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450278741366-7sluuc5b407ef92la4f4dd0ks06avb15</string>
	<key>API_KEY</key>
	<string>AIzaSyCYyKbDlOQ-44GwNF1GNhqmaTa0COYjEJM</string>
	<key>GCM_SENDER_ID</key>
	<string>450278741366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meowcash</string>
	<key>PROJECT_ID</key>
	<string>meowcash-d596b</string>
	<key>STORAGE_BUCKET</key>
	<string>meowcash-d596b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450278741366:ios:b82dda9efa6a5e50505657</string>
</dict>
</plist>